.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4d94ff;
    padding: 4px 20px;
    font-family: Helvetica;
}

body {
    background-color: #4ddbff;
    align-items: center;

}